@using GARITS.Models
@using Microsoft.CodeAnalysis.CodeActions

@{

    var car = (DVLAData)ViewData["DVLACar"];
    var garitsCar = (Vehicle)ViewData["Car"];

}

<div class="row">

    <div class="col-md-3">
        
        @if (car.vrm != null)
        {
            
            <div class="card">
                <div class="card-header">
                    DVLA Details
                </div>
                <div class="card-body">
                    <p><span class="registration-ui">@car.vrm</span></p>
                    <p class="card-text">Details: @car.make @car.model @car.varient</p>
                    <p class="card-text">Year: @car.year</p>
                    <p class="card-text">Fuel: @car.fuel</p>
                </div>
            </div>
            
        }
        else
        {
            
            <div class="card text-center">
                <div class="card-header">
                    DVLA Details
                </div>
                <div class="card-body">
                    <h5 class="card-title">No DVLA Data found for this vehicle.</h5>
                    <p class="card-text">Verfiy registration and continue if needed.</p>
                </div>
            </div>
            
        }
         
        
    </div>

    <div class="col-md-9">
        <div class="card text-center">
            <div class="card-header">
                GARITS Details
            </div>

            @if (garitsCar.vrm != null)
            {


                <div class="card-body">

                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Vehicle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-parts" role="tab" aria-controls="pills-parts" aria-selected="false">Parts</a>
                        </li>
                    </ul>
                    <hr />
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                    </div>


                </div>
                
                
            }   
            else  
            {

                <div class="card-body">
                    <h5 class="card-title">This vehicle is not in GARITS</h5>
                    <p class="card-text">Would you like to add it?</p>
                    <a href="~/Vehicle/AddVehicle?vrm=@ViewData["vrm"]" class="btn btn-primary">Add @ViewData["vrm"]</a>
                </div>

                }

            </div>
    </div>

</div>