
@{

    var customers = (List<Customer>)ViewData["Customers"];
    var search = (string) ViewData["Search"];
    
}

<div class="row">


    <div class="col-md-12">

        <div class="card">

            <div class="card-header" style="display: inline-block">

                <div style="display: inline-block; margin-top: 8px">
                    <h5>View Customers</h5>
                </div>
                
                <div class="float-right" style="display: inline-block">
                    
                    <a class="btn btn-primary" href="~/Customer/AddCustomer" role="button">Add Customer</a>

                </div>

            </div>

        </div>

    </div>
    

</div>

<br>

<div class="row">
    
    <div class="col-md-3">
        
        <div class="card">
            
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <form action="~/Customer/Search" method="get">
                    <div class="form-group">
                        <input name="search" tabindex="1" type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                
            </div>
            
        </div>
        
    </div>

    <div class="col-md-9 parts-list">

        @if (search != null)
        {
            <h6 style="margin-top: 6px">Results for "@search".</h6>
        }
        <p>@customers.Count customer(s) found.</p>
        
        <hr>
        
        @foreach (Customer customer in customers)
        {
            
            <h5>@customer.title @customer.firstname @customer.lastname</h5>
            
            <div class="row">
                
                <div class="col-md-6">
                
                    <p style="margin-bottom: 4px">Customer Since: @customer.registered.ToString("dd/MM/yyyy")</p>
                    <p style="margin-bottom: 4px">ID: @customer.customerID</p>
                    <p style="margin-bottom: 4px">@customer.email</p>
                    <p style="margin-bottom: 4px">@customer.phone</p>
                
                </div>
                
                <div class="col-md-6">
                
                    <p style="margin-bottom: 4px">@customer.addressline1</p>                     
                    <p style="margin-bottom: 4px">@customer.addressline2</p> 
                    <p style="margin-bottom: 4px">@customer.county</p> 
                    <p style="margin-bottom: 4px">@customer.postcode</p> 
                
                </div>
                
            </div>
                    
            <div style="display: inline-block; margin-top: 10px">
                <a class="btn btn-primary" style="margin-right: 5px" href="~/Customer/ViewCustomersJobs?customerID=@customer.customerID" role="button">View Jobs</a>
                <a class="btn btn-primary" style="margin-right: 5px" href="~/Customer/ViewCustomersVehicles?customerID=@customer.customerID" role="button">View Vehicles</a>
                <a class="btn btn-primary" style="margin-right: 5px" href="~/Customer/EditCustomer?customerID=@customer.customerID" role="button">Edit</a>
            </div>
            
            <hr>

        }

    </div>

</div>