
@{

    var notes = (JobNote)ViewData["InvoiceNote"];
    var job = (Job)ViewData["JobDetails"];
    var partsTotal = 0.0;
    var labourTotal = 0.0;
    var discount = 0.0;
    var total = 0.0;

}

<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="card-header" style="display: inline-block">

                <div style="display: inline-block; margin-top: 8px">
                    <h5>Invoice View</h5>
                </div>
                
                <div class="float-right" style="display: inline-block">
                    
                    <button type="button" onclick="printContent('invoice');" class="btn btn-primary">Print</button>

                </div>

            </div>

        </div>

    </div>
    
</div>

<br>

<div class="invoice-box" id="invoice">
    <table cellpadding="0" cellspacing="0">

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            @job.customer.firstname @job.customer.lastname<br>
                            @job.customer.addressline1<br>
                            @job.customer.addressline2<br>
                            @job.customer.county<br>
                            @job.customer.postcode<br>
                            <br>
                            Dear @(job.customer.title + ".") @job.customer.lastname,
                        </td>

                        <td>
                            Quick Fix Fitters<br>
                            19 High Street<br>
                            Ashford<br>
                            Kent<br>
                            CT16 8YY<br>
                            <br>
                            @DateTime.Today.ToString("d MMMM yyyy")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div class="invoice-number">

        <h5>INVOICE NO: @("J" + job.jobID)</h5>

    </div>

    <br>
    <br>

    <p>
        Vehicle Registration No: @job.vehicle.vrm<br>
        Make: @job.vehicle.make<br>
        Model: @job.vehicle.model<br>
    </p>

    <p>Description of work:</p>
    <p>
        @notes.body <br>
    </p>

    <br>

    <table>

        <tr class="heading">
            <td>
                Item
            </td>
            <td>
                Part No
            </td>
            <td>
                Unit Cost
            </td>
            <td>
                Quantity
            </td>
            <td>
                Cost
            </td>
        </tr>

        @foreach (KeyValuePair<Part, int> part in job.parts)
        {

            <tr>

                <td>
                    @part.Key.name
                </td>
                <td>
                    @part.Key.partID
                </td>
                <td>
                    £@part.Key.price
                </td>
                <td>
                    @part.Value
                </td>
                <td>
                    £@((part.Key.price / 100) * 30) * part.Value)
                </td>
                @{
                    partsTotal = partsTotal + (((part.Key.price / 100) * 30) * part.Value);
                }

            </tr>

        }
        
        @if (job.type == "MoT")
        {
            
            <tr>

                <td>
                    MoT Flat Rate
                </td>
                <td>
                    
                </td>
                <td>
                    £50.00
                </td>
                <td>
                    1
                </td>
                <td>
                    £50.00
                </td>
                @{
                    partsTotal = partsTotal + 50.00;
                }

            </tr>
            
        }
 
        <tr class="labour">

            <td>
                Labour
            </td>
            <td>
                -
            </td>
            <td>
                £@job.mechanic.rate / hour
            </td>
            <td>
                @job.labour["Labour Actual"] hours
            </td>
            <td>
                £@(job.mechanic.rate * job.labour["Labour Actual"])
            </td>
            @{
                labourTotal = job.mechanic.rate * job.labour["Labour Actual"];
            }

        </tr>

        @{

            total = partsTotal + labourTotal;

        }

        <tr class="total">

            <td></td>
            <td></td>
            <td></td>
            <td>
                Total
            </td>
            <td>
                £@total.ToString("#.##")
            </td>

        </tr>
        
        @if (job.discount.mot > 0 && job.type == "MoT")
        {

            discount = discount + (total / 100) * job.discount.mot;
                
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    MoT Discount
                </td>
                <td>
                    £@(((total / 100) * job.discount.mot).ToString("#.##"))
                </td>

            </tr>
                
        }else if (job.discount.other > 0)
        {
                
            discount = discount + (total / 100) * job.discount.other;
                
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    Discount
                </td>
                <td>
                    £@(((total / 100) * job.discount.other).ToString("#.##"))
                </td>

            </tr>
                    
        }
        
        @if (job.discount.credit > 0)
        {
                
            discount = discount + job.discount.credit;
                
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    Discount Credit
                </td>
                <td>
                    £@((job.discount.credit).ToString("#.##"))
                </td>

            </tr>
                
        }        

        <tr>

            <td></td>
            <td></td>
            <td></td>
            <td>
                VAT
            </td>
            <td>
                £@(((total / 100) * 20).ToString("#.##"))
            </td>

        </tr>

        <tr class="grand">

            <td></td>
            <td></td>
            <td></td>
            <td>
                Grand Total
            </td>
            <td>
                £@(((total + (total / 100) * 20) - discount).ToString("#.##"))
            </td>

        </tr>

    </table>

    <br>

    <p>
        Thank you for your valued custom. We look forward to receiving your payment in due course.
    </p>

    <br>

    <p>
        Yours sincerely,
    </p>
    <p>
        G. Lancaster
    </p>

</div>

<script>
    function printContent(el){
        var restorepage = $('body').html();
        var printcontent = $('#' + el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>
