
@{

    var job = (Job)ViewData["JobDetails"];
    var history = (List<string>) ViewData["Previous"];
    var partsTotal = 0.0;
    var labourTotal = 0.0;
    var total = 0.0;
    var discount = 0.0;
    var labourAdded = false;
    var invoiceNoteAdded = false;
    var isFinished = false;
    var isPaid = false;

    ViewData["Title"] = "Job View: J" + job.jobID;

    if (job.labour.ContainsKey("Labour Actual"))
    {
        labourAdded = true;
    }

    foreach (JobNote note in job.notes)
    {

        if (note.type == "Invoice")
        {
            invoiceNoteAdded = true;
        }

    }

    if (labourAdded && invoiceNoteAdded)
    {

        isFinished = true;

    }

    if (job.status == "Complete - Paid")
    {

        isPaid = true;

    }

}

<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="card-header" style="display: inline-block">

                <div style="display: inline-block; margin-top: 8px">
                    <h5>Job View</h5>
                </div>

                <div class="float-right" style="display: inline-block">

                    @if (!invoiceNoteAdded)
                    {

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInvoiceNoteModal" style="margin-right: 4px" href="#" role="button">Add Invoice Notes</button>

                    }

                    @if (!labourAdded)
                    {

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLabourModal" style="margin-right: 4px" href="#" role="button">Add Actual Labour</button>

                    }

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal" style="margin-right: 4px" href="#" role="button">Add Note</button>
                    
                    @if (!isFinished)
                    {
                        
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addPartModal" style="margin-right: 4px" href="#" role="button">Add Part</button>
                        
                    }
                     
                    <form action="~/Job/JobSheet" method="get" style="display: inline-block">
                        <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                        <button type="submit" class="btn btn-primary" href="" role="button">Job Sheet</button>
                    </form>

                    @if (isFinished)
                    {

                        <form action="~/Job/Invoice" method="get" style="display: inline-block">
                            <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                            <button type="submit" class="btn btn-primary" href="" role="button">Invoice</button>
                        </form>
                        
                        <div class="btn-group" style="display: inline-block">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reminders
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Job/Reminder?jobID=@job.jobID&reminder=1">First Reminder</a>
                                <a class="dropdown-item" href="~/Job/Reminder?jobID=@job.jobID&reminder=2">Second Reminder</a>
                                <a class="dropdown-item" href="~/Job/Reminder?jobID=@job.jobID&reminder=3">Final Reminder</a>
                            </div>
                        </div>

                        if (!isPaid)
                        {
                            
                            <form action="~/Job/Pay" method="post" style="display: inline-block">
                                <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                                <button type="submit" class="btn btn-primary" href="" role="button">Take Payment</button>
                            </form>
                            
                        }

                    }
                    else
                    {

                        <button type="button" class="btn btn-primary" disabled>Invoice</button>

                    }

                </div>

            </div>

        </div>

    </div>

</div>

<br>

@{

    if (job.status == "Complete - Awaiting Payment")
    {
         
        int days = ((TimeSpan) (DateTime.Today - (DateTime) job.end)).Days;

        if (days > 30 & days < 60)
        {
            
            <div class="alert alert-warning" role="alert">
                This job's payment is overdue by @days days. <a href="~/Job/Reminder?jobID=@job.jobID&reminder=1" class="alert-link">Click here</a> to generate an invoice reminder.
            </div>
            
            
            
        }else if (days > 60 & days < 90)
        {
            
            <div class="alert alert-warning" role="alert">
                This job's payment is overdue by @days days. <a href="~/Job/Reminder?jobID=@job.jobID&reminder=2" class="alert-link">Click here</a> to generate an invoice reminder.
            </div>
            
        }else if (days > 90)
        {
            
            <div class="alert alert-danger" role="alert">
                This job's payment is overdue by @days days. <a href="~/Job/Reminder?jobID=@job.jobID&reminder=3" class="alert-link">Click here</a> to generate an invoice reminder.
            </div>
            
        }
        
        <br>
        
    }  
    
}

<div class="row">

<div class="col-md-3">
    <div class="card">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
            <p class="card-text">Job ID: @("J" + job.jobID)</p>
            <p class="card-text">Type: @job.type</p>
            <p class="card-text">Status: @job.status</p>
            <p class="card-text">Started: @job.start.ToShortDateString()</p>
            @if (job.end != null)
            {
                <p class="card-text">Completed: @job.end.Value.ToShortDateString()</p>  
            }
            @if (job.paid != null)
            {
                <p class="card-text">Paid: @job.paid.Value.ToShortDateString()</p>  
            }
             <p class="card-text">Mechanic: @job.mechanic.firstname @job.mechanic.lastname</p>
            <p class="card-text">Bay: @job.bay</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Customer</h5>
        <div class="card-body">
            <p class="card-text">@job.customer.firstname @job.customer.lastname</p>
            <p class="card-text">@job.customer.phone</p>
            <p class="card-text">@job.customer.email</p>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Vehicle</h5>
        <div class="card-body">
            <p><span class="registration-ui">@job.vehicle.vrm</span></p>
            <p class="card-text">Details: @job.vehicle.make @job.vehicle.model</p>
            <p class="card-text">Year: @job.vehicle.year</p>
            <p class="card-text">Colour: @job.vehicle.colour</p>
        </div>
    </div>
    
    @if (history.Count > 0)
    {

        <br>
        <div class="card">
            <h5 class="card-header">Previous Jobs</h5>
            <ul class="list-group">

                @foreach (string jobID in history)
                {

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="~/Job/ViewJob?id=@jobID">@("J" + jobID)</a>
                    </li>

                }

            </ul>
        </div>

    }

</div>

<div class="col-md-5">
    <div class="card">
        <h5 class="card-header">Job Notes</h5>
        <div class="card-body">

            @foreach (JobNote note in job.notes)
            {

                <div class="card">
                    <div class="card-header">
                        @note.type
                    </div>
                    <div class="card-body">
                        <p class="card-text">@note.body</p>
                        <p class="card-text text-muted">@note.user.firstname @note.user.lastname - @note.time</p>
                    </div>
                </div>
                <br>

            }

        </div>

    </div>

</div>

<div class="col-md-4">

    <div class="card">

        <h5 class="card-header">Parts</h5>

        <div class="card-body">

            @foreach (KeyValuePair<Part, int> part in job.parts)
            {
                    
                <div class="card">

                    <div class="card-body">

                        <p class="card-text">@part.Key.manufacturer: @part.Key.name</p>
                        <p class="card-text">@part.Key.partID</p>
                        <p class="card-text">£@(part.Key.price + ((part.Key.price / 100) * 30))</p>
                        <p class="card-text">Quantity: @part.Value</p>

                        @{
                            String[] years = part.Key.years.Split("-");
                        }
                            
                        @if (part.Key.manufacturer.ToUpper() != job.vehicle.make.ToUpper() || part.Key.vehicle.ToUpper() != job.vehicle.model.ToUpper() || !years.Contains(job.vehicle.year))
                        {
                         
                            <div class="alert alert-warning" role="alert">
                                Info: From this part's information, it could be incompatible with this job's vehicle. Please ensure that the part is compatible before proceeding with the job.
                            </div>
                         
                        }
                            
                        @{
                            partsTotal = partsTotal + (part.Key.price + ((part.Key.price / 100) * 30) * part.Value);
                        }

                    </div>

                </div>
                <br>

            }

        </div>
        <div class="card-footer">
            Parts Total: £@partsTotal.ToString("#.##")
        </div>

    </div>

    <br>

    @if (job.type == "MoT")
    {

        <div class="card">

            <div class="card-header">

                MoT Flat Rate: £50.00

            </div>

            @{
                partsTotal = partsTotal + 50;
            }

        </div>

        <br>

    }

    <div class="card">

        <h5 class="card-header">Labour</h5>

        <ul class="list-group">

            @foreach (KeyValuePair<string, float> labour in job.labour)
            {

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @labour.Key: @labour.Value hours.
                </li>

            }

            <li class="list-group-item d-flex justify-content-between align-items-center">
                Rate: £@job.mechanic.rate / hour.
            </li>

        </ul>

        @if (!labourAdded)
        {

            labourTotal = job.labour["Labour Estimate"] * job.mechanic.rate;

            <div class="card-footer">
                Estimated Labour Total: £@labourTotal.ToString("#.##")
            </div>

        }
        else
        {

            labourTotal = job.labour["Labour Actual"] * job.mechanic.rate;

            <div class="card-footer">
                Labour Total: £@labourTotal.ToString("#.##")
            </div>

        }

    </div>
        
    <br>
        
    @{

        total = partsTotal + labourTotal;

    }
        
            
    @if (job.discount.mot > 0 && job.type == "MoT")
    {

        discount = discount + (total / 100) * job.discount.mot;
                
        <div class="card">
            <div class="card-header">
                MoT Discount: £@(((total / 100) * job.discount.mot).ToString("#.##"))
            </div>
        </div>
        <br>
                
    }else if (job.discount.other > 0)
    {
                
        discount = discount + (total / 100) * job.discount.other;
                
        <div class="card">
            <div class="card-header">
                Discount: £@(((total / 100) * job.discount.other).ToString("#.##"))
            </div>
        </div>
        <br>
                    
    }
        
    @if (job.discount.credit > 0)
    {
                
        discount = discount + job.discount.credit;
                
        <div class="card">
            <div class="card-header">
                Discount Credit: £@(job.discount.credit).ToString("#.##"))
            </div>
        </div>
        <br>
                
    }        

    <div class="card">

        <div class="card-body">
            <p class="card-text">VAT: £@(((total / 100) * 20).ToString("#.##")) </p>
        </div>


        <div class="card-footer">
            Total inc VAT and Discounts: £@(((total + (total / 100) * 20) - discount).ToString("#.##"))
        </div>

    </div>

</div>

</div>

@*=====MODALS=====*@

<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addNote" action="~/Job/AddNote" method="post">
                    <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                    <input type="hidden" id="type" name="type" value="Update">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Notes</label>
                        <textarea class="form-control" id="body" name="body" rows="3"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" role="button" form="addNote" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addInvoiceNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Invoice Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addInvoiceNote" action="~/Job/AddNote" method="post">
                    <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                    <input type="hidden" id="type" name="type" value="Invoice">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Notes</label>
                        <textarea class="form-control" id="body" name="body" rows="3"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" role="button" form="addInvoiceNote" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addLabourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Labour Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addLabour" action="~/Job/AddNote" method="post">
                    <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                    <input type="hidden" id="type" name="type" value="Labour Actual">
                    <div class="form-group">
                        <label for="body">Actual Labour Time</label>
                        <input type="number" class="form-control" id="body" name="body">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" role="button" form="addLabour" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search For Part</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="addPart" action="~/Job/AddPart" method="post">
                    <input type="hidden" id="jobID" name="jobID" value="@job.jobID">
                    <div class="form-group">
                        <label for="body">Search for part by: name, ID, manufacturer or vehicle model.</label>
                        <input type= "text" class="form-control" id="search" name="search">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" role="button" form="addPart" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>


<script>

    $('#addNoteModal').on('shown.bs.modal', function () {
        $('#btn').trigger('focus')
    })

    $('#addInvoiceNoteModal').on('shown.bs.modal', function () {
        $('#btn').trigger('focus')
    })

    $('#addLabourModal').on('shown.bs.modal', function () {
        $('#btn').trigger('focus')
    })
    
    $('#addPartModal').on('shown.bs.modal', function () {
        $('#btn').trigger('focus')
    })

</script>